body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;

  }

  #welcome{
  	color: #fff;
    margin-top: 10%;
    margin-left: 22%;
  }

  /*if(Meteor.isCordova) {
  	$('body').attr('backg')
  }*/

  #live{
  	margin-top: 20px;
  	font-size: 30px;
  	color: #fff;
  }